.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

/* Hide the scroll bar */
body {
  overflow: hidden; /* Completely disables scrolling */
}

/* Customize scrollbar for WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #e8372e5b; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e8372e5b; /* Darker color on hover */
}

::-webkit-scrollbar-track {
  background-color: f1f1f100; /* Color of the scrollbar track */
  border: none;
  border-radius: 4px; /* Rounded corners for the track */
}

/* Customize scrollbar for Firefox */
body {
  scrollbar-color: #e8372e5b #f1f1f100; /* Thumb color and track color */
  scrollbar-width: thin; /* Thin scrollbar */
}

body {
  -ms-overflow-style: none; /* Hides the scroll bar in Internet Explorer */
  scrollbar-width: none; /* Hides the scroll bar in Firefox */
}

