.adsr-control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  color: greenyellow;
  font-family: "Share Tech Mono", monospace;
  font-size: 0.6rem;
  padding: 0.8rem;
}
