.sequencer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: #555;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.sequencer button {
  margin: 0.5em;
}

.sequencer label {
  margin-right: 0.5em;
}